footer{
    background-color: #161616;
    text-align: center;
    padding-top: 25px;
    word-spacing: 15px;

    #mentions{
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        word-spacing: 0;
    }
}
