header {
    margin: 0px;
    color: white;
    background-color: #161616;
    font-family: 'Zilla Slab', serif;
    
    
    
    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        width: 100px;
    }

    .bandeauaccueil {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }

    span {
        font-size: 40px;
    }

    span.ville {
        font-size: 30px;

    }

    h1 {
        padding: 150px;
        background-image: url('../../images/grand_place.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        padding-bottom: 15em;
        margin: 0%;
        text-align: center;
        font-size: 50px;
        color: black;
    }

}

