header {
    margin: 0;
    color: white;
    background-color: #161616;
    font-family: 'Zilla Slab', serif;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  header img {
    width: 100px;
  }
  
  .header_nav_menu {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  
  span {
    font-size: 40px;
  }
  
  span.ville {
    font-size: 30px;
  }
  
  h1 {
    padding: 150px;
    background-image: url('../../images/pexels-petar-starčević-2587789.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 12.5em;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  
  .logobxl {
    width: 90px;
  }
  
  .barre_recherche {
    font-family: 'Zilla Slab', serif;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    color: #999999;
    width: 40%;
    min-height: 50%;
    border: 1px solid #c8c8c8;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 10px;
    padding-right: 150px;
    padding-left: 65px;
    height: 100%;
    text-transform: lowercase;
  }
  
  .header_burger {
    display: none;
  }
  
  .header_burger svg {
    stroke: black;
    width: 80px;
    height: 50px;
    cursor: pointer;
  }
  
  .header_nav_close {
    display: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 500px) {
    .header_nav_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      margin: 0;
      background-color: #1b1b1b;
      flex-direction: column;
      justify-content: space-evenly;
      transform: translateX(-100%);
      transition: 0.3s transform ease-in-out;
    }
  
    .header_nav_open .header_nav_menu {
      transform: translateX(0);
    }
  
    .overlay_menu_mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: none;
    }
  
    .header_burger {
      display: block;
    }

    .header_burger svg {
      stroke: white;
    }

    .barre_recherche {
      display: none;
    }

    h1 {
      display: none;
    }

    .ville_bxl {
      text-align: center;
    }
  }
  
