main {
    margin: 50px;
    padding-bottom: 1000px;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: black;
    background-color: white;
    padding: 20px;
    margin: 0%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    img {
        margin-right: 5%;
    }
    
}

.grid {
    display: flex;
    flex-direction: column;
    width: 30%;  
    background-color: rgb(208, 207, 207);
}

.grid1 {
    padding: 8%;
}