body{
    margin: 0px;
}


.contacth1{
color: white;
padding: 2%;
font-size: 30px;
}

.text{
color: white;
}

.contacteznous{
    padding-left: 20%; 
    margin-bottom: 50px;
}

.contacteznous label {
display: inline-block;
justify-content: center;
width: 80px; 
margin-top: 10px;
}


label{
color: white;
}

textarea{
border: 189px;
}

.socials{
margin-left: 50px;
color: white;
}

#message{
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-right: 20em;
    margin-left: 10em;
}

input{
    width: 170px;
}

textarea{
    width: 255px;
    height: 60px;
}

.messfooter{
    margin-bottom: 10px;
}


//MEDIA QUERIES
@media screen and (max-width: 450px) {
    form {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        margin-left: 6em;
        }    
    }