body{
    margin: 0px;
}


.contacth1{
color: white;
padding-left: 21%;
}

.text{
color: white;
}

.contacteznous{
    padding-left: 20%; 
    margin-bottom: 50px;
}

.contacteznous label {
display: inline-block;
justify-content: center;
width: 80px; 
margin-top: 10px;
}


label{
color: white;
}

textarea{
border: 189px;
}

.socials{
margin-left: 50px;
color: white;
}

#message{
    margin-top: 10px;
}

.form{
    padding-left: 500px;
}

input{
    width: 170px;
}

textarea{
    width: 255px;
    height: 60px;
}

.messfooter{
    margin-bottom: 10px;
}
